


.center-div{
    width: 100%;
    height: 100%;
    background-color: green;
    
}
.center-div p{
    margin-left: 150px;
    padding-top: 50px;
    margin-bottom: 20px;
}
.button2:hover::after{
    content: "I'M GLOWING";
    text-shadow: 0 0 10px#fff, 0 0 20px #82bedc, 0 0 30px #82bedc, 0 0 40px #82bedc, 0 0 50px #82bedc, 0 0 60px #82bedc;
}

.button2{
   position: relative;
   display: inline-block;
   border-radius: 5px;
    border: 2px solid black;
    margin: 20px;
    text-align: center;
    padding: 20px 40px;
    filter: hue-rotate(0deg);
    transition: all .1s linear;
    color: aqua;
    cursor: pointer;
}
.button2:hover{
    border: 1px solid transparent;
}
.button2:hover span{
    position: absolute;
    display: block;
}
.button2:hover span:nth-child(1){
    filter: hue-rotate(0deg);
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #3a86ff);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}


.button2:hover span:nth-child(2){
    filter: hue-rotate(60deg);
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #3a86ff);
    animation-delay: .25s;
    animation: animate2 1s linear infinite;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}
.button2:hover span:nth-child(3){
    filter: hue-rotate(120deg);
   bottom: 0;
    right: 0;
    width: 100%;
    
    background: linear-gradient(270deg, transparent, #3a86ff);
    animation-delay: .50s;
    animation: animate3 1s linear infinite;
}
@keyframes animate3{
    0%{
        right: -100%;
        height: 3px;
    }
    50%, 100%{
        height: 2px;
        right: 100%;
    }
}
.button2:hover span:nth-child(4){
    filter: hue-rotate(180deg);
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #3a86ff);
    animation-delay: .75s;
    animation: animate4 1s linear infinite;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%, 100%{
        bottom: 100%;
    }
}