* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #212428;
    font-size: 18px;
    line-height: 1.50;
    font-family: "Poppins", sans-serif;
    color: #878e99;
    font-weight: 400;
}

/* Scroll up arrow */
.gotop-btn svg {
    font-size: 14px !important;
    color: #df0a0a;
    width: 27px;
    height: 27px;
    position: relative;
    z-index: 1;
    bottom: -50px;
    left: 50%;
    border-radius: 10px;
}

/* svg:not(:root){
overflow: hidden;
}
svg{
    vertical-align: middle;
} */
.navbar {
    width: 100%;
    display: flex;
    background-color: #1e2125;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 90%;
    margin: 12px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav {
    margin-right: 30px;
    text-align: center;

}

.nav ul {
    display: flex;
    text-align: center;
}

.nav ul li {
    list-style: none;
    margin-left: 15px;
}

.nav ul li a {
    color: #878787;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    padding: 5px;
}

.nav ul li a:hover {
    color: #CED0D4;
    padding: 5px;
    border-radius: 10px;
    transition: .4s;
}

/* Home Section */

.container {
    /* background-color: #0d1013; */
    display: flex;
    width: 90%;
    margin: 0 auto;
    color: #c4cfde
        /* box-shadow: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225; */
}

.order-1 {
    width: 50%;
    line-height: 30px;
    padding: 15px 20px;

    /* box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset; */
}

.order-1 h3 {
    letter-spacing: 5px;
}

.banner-para {
    color: #fff;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 22px;
}

.banner-para .name {
    color: #f9004d;
    font-weight: 700;
    display: flex;
}

.banner-para2 {
    font-size: 16px;
    line-height: 30px;
    opacity: 0.9;
}

.find-best-col {
    display: flex;
    margin-top: 70px;
}

.col-lg-6 {
    margin-right: 60px;
}

.social-share {
    display: flex;
    margin-top: 20px;
}

/* .iconcolor {
    color: #CED0D4;
} */

.social-share li {
    /* background-color: #212428; */
    background-color: linear-gradient(145deg, #1e2024, #23272b);
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e; */
    box-shadow: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
}

.social ul li {
    list-style: none;
    margin-left: 10px;
    font-size: 20px;
}

.social span {
    color: #CED0D4;
    font-size: 16px;
}

.best-skill-share {
    display: flex;
}

.best-skill-share li img {
    max-height: 23px;
    width: auto;
}

.order-2 {
    width: 45%;
    position: relative;
}

.order-2 img {
    width: 80%;
    margin-left: 150px;
}

.thumbnail::before {
    position: absolute;
    z-index: -1;
    width: 90%;
    height: calc(100% - 130px);
    content: "";
    left: 60%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-45%);
    background: #1e2024;
    box-shadow: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
    border-radius: 6px;
}


/* feature Section */
.feature-main {
    width: 90%;
    margin: 0 auto
}

.section-gap {
    padding: 100px 0;
    position: relative;
}

.subtitle {
    color: #f9004d;
    letter-spacing: 1px;
    display: block;
    line-height: 14px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}

.title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #c4cfde;
    margin-top: 15px;
    margin-bottom: 0;
}

.main-card-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px green solid; */

}

.margin-top {
    margin-top: 20px;
    /* padding: 0 20px; */
}

.abc {
    text-align: left;
    /* padding: 35px 50px 35px 50px; */
    padding: 25px;
    margin-top: 25px;
    transition: 0.5s;
    border-radius: 10px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    position: relative;
    z-index: 1;
    height: 100%;
}

.abc::before {
    content: "";
    position: absolute;
    transition: .4s;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, #212428, #16181c);
    z-index: -1;
}

.feature-box>* {
    transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
    transform: translateY(20px);
}

.feature-box {
    width: 300px;
    height: 300px;
    transition: .3s;
}

.abc:hover {
    color: #fff;
    transform: scale(1.1);
    transition: .3s;
    opacity: 1;
}

.feature-box .logo {
    color: #f9004d;
    font-weight: 400;
    width: 50px;
    height: auto ;  
    stroke-width: 1;
}

.logo:not(:root){
    overflow:hidden;
}
.abc span {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    color: #f9004d;
    opacity: 0;
}

.abc:hover span {
    opacity: 1;
    color: #f9004d;
}

.feature-box h3 {
    padding: 10px 0;
    font-size: 25px;
    font-weight: 400;
}

.feature-box .content {
    line-height: 2px;
}


/* Port Section */

.subtitle-port {
    color: #f9004d;
    letter-spacing: 1px;
    display: block;
    line-height: 14px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

.title-heading {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #c4cfde;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
}

.inner {
    text-align: left;
    padding: 35px 50px 35px 50px;
    /* padding:25px; */
    margin-top: 25px;
    transition: 0.5s all ease-in-out;
    border-radius: 10px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 33%;
}

.thumbnail-port img {
    width: 250px;
    height: 270px;
    transition: .5s;
    border-radius: 10px;
}
.thumbnail-port img:hover {
    transform: scale(1.1);
}

.thumbnail-port::before {
    content: "";
    position: absolute;
    transition: .4s;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, #212428, #16181c);
    /* opacity: 0; */
    z-index: -1;
}
.category-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 10px;
}

.heart span {
    margin-right: 5px;
    color: #c4cfde;
    font-size: 13px;
}

.heart:hover span {
    color: #f9004d;
}
.cont-port {
    font-size: 13px;
    color: #f9004d;
    letter-spacing: 1px
}
.like {
    color: #f9004d;
    right: 30px;
    position: absolute;
}
.port-row span {
    /* display: block; */
    position: absolute;
    opacity: 0;
    bottom: 30px;
    left: 110px;
}
.port-row:hover span,
.title-port:hover {
    color: #f9004d;
    opacity: 1;
    transition: .5s;
}

/* blog Section */
.section-gap {
    padding: 100px 0;
    position: relative;
}

.myblog {
    text-align: center;
    padding: 10px 0;
}

.myblog p {
    color: #f9004d;
    letter-spacing: 1px;
    display: block;
    line-height: 14px;
    margin-bottom: 10px;
}

.myblog .title-blog {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #CED0D4;
    margin-top: 15px;
    margin-bottom: 0;
}

.row {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.blog {
    width: 34%;
    margin: 0 25px;
    padding: 40px 40px 20px;
    box-shadow: 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
    border-radius: 10px;
}
.container-blog a {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    font-size: 20px;
}
.container-blog a img {
    width: 100%;
    transition: .4s;
    height: auto;
    object-fit: cover;
}

img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.container-blog a img:hover {
    cursor: pointer;
    border-radius: 10px;
    transition: .2s;
    transform: scale(1.1);
    z-index: 333;
}

.name {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
   margin:15px 0
}

.heading-blog {
    /* display: flex; */
     display: block;
    justify-content: space-between;
    color: #ff014f;
    font-weight: 500;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.time {
    color: #c4cfde;
    font-size: 13px;
    
}
.time p span{
    padding: 18px 5px 0 0 ;
}
.container-blog {
    position:relative;
}
/* .blog-row{
    display: flex;
    flex-direction: row;
    justify-content: right;
    
} */
.blog-row .blog-arrow{
    position:absolute;
    opacity:0;
    bottom: -5px;
   left: 55px;
   font-size: 20px;
}
.blog-row:hover .blog-arrow{
    color:#f9004d;
    opacity:1;
    transition:.5s;
    transform: translate(8px, -5px);
}
.content {
    width: 100%;
    margin: 15px 0;
    line-height: 1.25;
    transition: .4s;
    color: #c4cfde;
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;
    display: inline-block;
}

.content:hover {
    color: #f9004d;
    cursor: pointer;
}

/* Contact Section */
.contact-section {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.contact-1 {
    width: 48%;
    position: relative;

}

.text-contact {
    margin: 10px 0;
}

.text-contact p {
    margin: 15px 0;
}

.contact-2 {
    width: 50%;
    position: relative;
    background-color: #878e99;
}

.contact-form-wrapper {
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    padding: 30px;
    border-radius: 10px;
    margin-left: 20px;
    height: 100%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}



.btn {
    content: "";
    position: absolute;
    transition: .4s;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, #212428, #16181c);
    opacity: 0;
    z-index: -1;
}



/* Footer Section  */
.footer {
    height: 60px;
    text-align: center;
    position: relative;
    padding-top: 15px;
    color: #c4cfde;
}

.footer::before {
    content: '';
    width: 100%;
    border-bottom: 1px solid #fff;
    /* border-bottom: 1px solid #1e2125; */
    position: absolute;
    left: 0;
    top: 5px;
}

.rain {
    /* color: #CED0D4; */
    color: #c4cfde;
    text-decoration: none;
    font-size: 17px;
}

.rain:hover {
    color: #ff014f;
}

.footer .rain::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    background: #ff014f;
    left: 690px;
    bottom: -105px;
    transform: scaleX(0);
    transition: transform .2s;
    transform-origin: left;

}

.footer .rain:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


@media screen and (max-width:768px){
    
    .navbar{
        display: block;
    }
    /* .nav ul{
        display: block;
    } */
    .find-best-col{
        display:block;
        margin-top: 20px;
    }
    
    .row{
        display: block;
        justify-content: space-between;
        width: 100%;
    }
    .blog{
        width: 60%;
        padding: 0px 20px;
        margin: 0px 50px;
        display: block;
        position:relative;
        justify-content: space-between;
        align-items: center;
    }

}